@inherits NewsPortalListItemBase

<tr>
    <td>
        <img src=@(NewsPortal.IconUrl) alt="Icon" />
    </td>
    <td>
        <a href=@(NewsPortal.BaseUrl)>@NewsPortal.Name</a>
    </td>
    <td>
        <span style="color: @(NewsPortal.Category.Color);">@NewsPortal.Category.Name</span>
    </td>
    <td>
        <button class="btn btn-info" @onclick="@(DetailsButtonClickHandler)">
            Details
        </button>
    </td>
    <td>
        <button class="btn btn-danger" @onclick="@(DeleteButtonClickHandler)" disabled>
            Delete
        </button>
    </td>
</tr>
