@using Espresso.Dashboard.Pages.Shared.Inputs.CronJobInput
@inherits EditJobsSettingsBase


<h3>Jobs Settings</h3>

<CronJobInput Headline="Analytics (marketing-bot) job cron expression:"
  @bind-Value="@(SettingsState.JobsSettingState.AnalyticsCronExpression)" IsValidChanged="@(IsValidChanged)" />
<CronJobInput Headline="Parse articles job cron expression:"
  @bind-Value="@(SettingsState.JobsSettingState.ParseArticlesCronExpression)" IsValidChanged="@(IsValidChanged)" />
<CronJobInput Headline="Report (backend-statistics) job cron expression:"
  @bind-Value="@(SettingsState.JobsSettingState.WebApiReportCronExpression)" IsValidChanged="@(IsValidChanged)" />
