@using Espresso.Dashboard.Pages.Shared.Inputs.NumberInput
@inherits EditArticleSettingsBase

<h3>Article Settings</h3>

<NumberInput Headline="Number of featured articles:" MinValue="@(5)" MaxValue="@(50)"
  @bind-Value="@(SettingsState.ArticleSettingState.FeaturedArticlesTake)" IsValidChanged="@(IsValidChanged)" />

<NumberInput Headline="Max age of article [days]:" MinValue="@(1)" MaxValue="@(10)"
  @bind-Value="@(SettingsState.ArticleSettingState.MaxAgeOfArticleInDays)" IsValidChanged="@(IsValidChanged)" />

<NumberInput Headline="Max age of featured articles [hours]:" MinValue="@(1)" MaxValue="@(48)"
  @bind-Value="@(SettingsState.ArticleSettingState.MaxAgeOfFeaturedArticleInHours)"
  IsValidChanged="@(IsValidChanged)" />

<NumberInput Headline="Max age of trending articles [hours]:" MinValue="@(1)" MaxValue="@(48)"
  @bind-Value="@(SettingsState.ArticleSettingState.MaxAgeOfTrendingArticleInHours)"
  IsValidChanged="@(IsValidChanged)" />
