@page "/news-portals"
@inherits NewsPortalsListBase
@using Espresso.Dashboard.Pages.NewsPortalsList.NewsPortalsListItem
@using Espresso.Dashboard.Shared.Pagination

<h1>News Portals</h1>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newsPortal in Response.NewsPortals.Items)
            {
                <NewsPortalListItem 
                    NewsPortal="@(newsPortal)"
                    DeleteNewsPortalHandler="@(DeleteNewsPortal)"
                    OpenNewsPortalDetailsHandler="@(OpenNewsPortalDetails)" 
                />
            }
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col">
                <Pagination 
                    PagingMetadata="@(Response.NewsPortals.PagingMetadata)" 
                    Spread=@(2)
                    SelectedPage="@(SelectedPage)" 
                />
            </div>
        </div>
    </div>
}
